* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    width: 400px;
	font-size: 36px;
	height: 100vh;
	font-family: "Montserrat", sans-serif;
	background-color: #045de9;
	background-image: linear-gradient(315deg, #e904d6 0%, #0955f9 74%);
}
 
div1 {
	background-color: lime;
}
div2 {
	background-color: lime;
}

p1 {
	background-color: gold;
}
p2 {
	background-color: rgb(255, 0, 106);
}

span {
	background-color: tomato;
}
